*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav ul {
    display:inline-flex;
    justify-content: space-around;
    font-size: 30;
    align-items:center;
    list-style: none;
   
}
nav ul li a{
    font-weight: bold;
    align-items:center;
}
a{
    text-decoration:none ;
}